<!DOCTYPE html> <!-- Используется html 5 версии -->
{% extends 'base.html' %}
{% block content %}
  <title>{{ title }}</title>
  <body>
    <!-- класс py-5 создает отступы сверху и снизу блока -->
    <div class="container py-5">
      <a href="{% url 'index' %}">Главная страница
      </a>
    {% for post in posts %}
  <ul>
    <li>
      Автор: {{ post.author.get_full_name }}
    </li>
    <li>
      Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </li>
  </ul>
  <p>{{ post.text }}</p>    
  <a href=" ">все записи группы</a>
  
  {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
    <main>
        {% if post.group %}   
        <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы a</a>
        {% endif %}
      </div>
  </body>
  {% endblock %}