{% extends "base.html" %}
{% block title %} Редактирование поста {% endblock %}
{% block content %}
    <main>
      <div class="container py-5"> 
        <h1> Форма по редактированию поста </h1>
        <form method="post">
          {% csrf_token %}
          {{ form.group }}<br>
          {{ form.text }}<br>
          <span>{{ error }}</span>
          <button class="btn btn-success" type="submit">
          {% if is_edit %}
            Сохранить
          {% else %}
            Сохранить
          {% endif %} 
          </button>
        </form>
      </div>
    </main>
{% endblock %}